ENV=

PORT=
DATABASE_URL=postgresql://user:password@localhost/mydatabase

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
TRUSTED_ORIGINS=
AUTH_DOMAIN=

# Socials (Google)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
